h1
{
    margin-top: 1%;
    font-family: 'Bree Serif', serif;
    font-size: 300%;
    color: #1CA421;
}

.imagenlogo
{
    width: 110%;
}


/*  ---------------------menu principal -------------------------------------------*/

.accesoVoluntarios
{
    background-color: #1CA421;
    margin: 0% 1.5%;
}
.textoAcceso
{
    color: white;
    font-family: 'Bree Serif', serif;
   /* margin: 1% 0%;*/
}

.textoAcceso:hover
{
    color: black;
    text-decoration: none;
}

.menuPrincipal
{
    background-color: #1CA421;
}
.texto
{
    padding: 1% 13%;
    color: white;
    font-family: 'Bree Serif', serif;
    font-size: 100%;
}

.textMenuPrinci
{
    color: white;
}

.textMenuPrinci:hover
{
    color: black;
    text-decoration: none;
}

.boton
{
    background-color: #1CA421;
    border-color: #1CA421;
}

.boton1
{
    background-color: #1CA421;
    border-color: #1CA421;
}

.icon
{
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

@media(max-width: 991px)  /*md*/
{
    .posLogo2
    {
        order: 2;
    }

    .textoPlan
    {
        order: 2;
    }

    .posLogo1
    {
        order: 1;
    }
}

@media(max-width: 767px)  /*sm*/
{
    .imagenlogo
    {
        width: 40%;
    }

    .textoPlan
    {
        font-size: 100%;
    }

    .posLogo2
    {
        order: 3;

    }

    .textoPlan
    {
        order: 1;
    }

    .posLogo1
    {
        order: 2;
    }

    .imagenlogo
    {
        width:45%;
    }
}

@media(max-width:576px)   /* xs */
{
    .textoPlan
    {
        font-size:70%;
    }
    .imagenlogo
    {
        width:60%;
    }

    .accesoTexto
    {
        font-size:0%;
    }

}

.botonMenu
{
    margin-left: 10px;
}

/*  --------------------- accesoVoluntario -------------------------------------------*/

.acceso
{
    color:#1CA421;
    font-family: 'Bree Serif', serif;
}

.lineaVoluntario
{
    padding: 2.5% 2%;
    border-radius: 4px;
}

.icono
{
    margin-left: 10%;
}

.botonGrande
{
    background-color: #1CA421;
    border-color: #1CA421;
    color: white;
    padding: 2px 8px;
}
.glyphicon-user:before{content:"\e008"}
.color
{
    background-color: #b5e8bf;
}




/*  --------------------- ayudanos -------------------------------------------*/

.linea
{
    border-color: #1CA421;
}

.direc
{
    width:100%;
}