h1
{
    margin-top: 1%;
    font-family: 'Bree Serif', serif;
    font-size: 360%;
    color: #1CA421;
}

.imagenlogo
{
    width: 100%;
}

/*  ---------------------menu principal -------------------------------------------*/

.accesoVoluntarios
{
    background-color: #1CA421;
    margin: 0% 1.5%;
}
.textoAcceso
{
    color: white;
    font-family: 'Bree Serif', serif;
    font-size: 130%;
    /* margin: 1% 0%;*/
}

.textoAcceso:hover
{
    color: black;
    text-decoration: none;
}

.menuPrincipal
{
    background-color: #1CA421;
}
.texto
{
    padding: 1% 13%;
    color: white;
    font-family: 'Bree Serif', serif;
    font-size: 100%;
}

.textMenuPrinci
{
    color: white;
    font-size: 130%;
}

.textMenuPrinci:hover
{
    color: black;
    text-decoration: none;
}

.boton
{
    background-color: #1CA421;
    border-color: #1CA421;
}

.boton1
{
    background-color: #1CA421;
    border-color: #1CA421;
}

.icon
{
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

@media(max-width: 991px)  /*md*/
{
    .posLogo2
    {
        order: 2;
    }

    .textoPlan
    {
        order: 2;
    }

    .posLogo1
    {
        order: 1;
    }

    .texto
    {
        margin: 3px;
        width: 150px;
    }

}

@media(max-width: 767px)  /*sm*/
{
    .imagenlogo
    {
        width: 40%;
    }

    .textoPlan
    {
        font-size: 100%;
    }

    .texto
    {
        margin: 1px;
        width: 150px;
    }

    .posLogo2
    {
        order: 3;

    }

    .textoPlan
    {
        order: 1;
    }

    .posLogo1
    {
        order: 2;
    }

    .imagenlogo
    {
        width:45%;
    }

    .botonMenu
    {
        background-color: #1CA421;
        border-color: #1CA421;
    }
}

@media(max-width:576px)   /* xs */
{
    .textoPlan
    {
        font-size:70%;
    }
    .imagenlogo
    {
        width:60%;
    }

    .accesoTexto
    {
        font-size:0%;
    }

    .botonMenu
    {
        background-color: #1CA421;
        border-color: #1CA421;
    }

    .texto
    {
        width: 150px;
    }

}

/*  --------------------- Footer -------------------------------------------*/

.textFooter { letter-spacing: 1px; color: white; font-weight: bold}

.iconos { color: white; }

a:hover { text-decoration: none; color: black;}

.alturaIcono
{
    font-size: 120%;
}

.distanciaFooter
{
    width: 15%;
}
.anchoCelda
{
    width: 10%;
}

.bordeIcono
{
    width: 7%;
}


/*  --------------------- accesoVoluntario -------------------------------------------*/

.acceso
{
    color:#1CA421;
    font-family: 'Bree Serif', serif;
}

.lineaVoluntario
{
    padding: 2.5% 2%;
    border-radius: 3px;
}

.icono
{
    margin-left: 10%;
}

.botonGrande
{
    background-color: #1CA421;
    border-color: #1CA421;
    color: white;
    padding: 2px 8px;
}
.glyphicon-user:before{content:"\e008"}
.color
{
    background-color: #b5e8bf;
}

.cajaReside
{
    padding: 3px 0px;
}

/*  --------------------- index -------------------------------------------*/

.fotoGato { width: 100%; }

.textoDentroFoto
{
    font-family: 'Bree Serif', serif;
    letter-spacing: 2px;
    font-size: 200%;
}

.subtitulo
{
    font-weight: bold;
    font-size: 250%;
    font-family: 'Bree Serif', serif;
    letter-spacing: 2px;
    color: #667c72;
}

.subtitle
{
    font-weight: bold;
    font-size: 150%;
    font-family: 'Bree Serif', serif;
    color: #667c72;
}

.indexHazteVoluntario
{
    font-weight: bold;
    font-size: 110%;
    font-family: 'Bree Serif', serif;
    letter-spacing: 4px;
    color: #1CA421;

}

.indexHazteVoluntarioParraf { letter-spacing: 1px; }

.fotoIndex1,.fotoIndex2
{
    width: 35%;

}

/*  --------------------- hazte Voluntario -------------------------------------------*/

.asterisco
{
    color: #dc3545;
}

.ubicarVisto
{
    margin-top: 4%;
}

.deplazarDerecha
{
    margin-left: 30%;
}
.lineahazteVoluntario
{
    padding: 2% 20%;
    border: 1px solid #1CA421;
    border-radius:5%;
}

.lineaGatos
{
    padding: 3.5% 20%;
    border: 1px solid #1CA421;
    border-radius:5%;
}

.lineahazteVoluntarioGatos
{
    padding: 2% 20%;
    border: 1px solid #1CA421;
    border-radius:5%;
}



@media(max-width:828px)   /* xs plan esterilizacion felina*/
{
    .textoTitle
    {
        font-size: 280%;
    }
}



@media(max-width:543px)   /* xs nombre, apellidos, dni*/
{
    .lineahazteVoluntario
    {
        padding: 1% 14%;
        border: 1px solid #1CA421;
        border-radius:5%;
    }
}



.lineahazteVoluntarioFechaMes
{
    border: 1px solid #1CA421;
    border-radius: 5%;
}

.lineahazteVoluntarioFecha
{
    border: 1px solid #1CA421;
    border-radius: 5%;
}




@media(min-width:952px)   /* md parte 1 fecha*/
{
    .lineahazteVoluntarioFechaMes {
        padding: 2.5% 3%;
    }

    .lineahazteVoluntarioFecha {
        padding: 2.5% 3%;
    }
}
@media(max-width:951px)   /* sm  parte 2 fecha*/
{

    .lineahazteVoluntarioFechaMes {
        padding: 2.5% 1%;
    }

    .lineahazteVoluntarioFecha {
        padding: 2.5% 1%;
    }
}

@media(max-width:768px)   /* sm  parte 2 fecha*/
{

    .lineahazteVoluntarioFechaMes {
        padding: 1% 1%;
    }

    .lineahazteVoluntarioFecha {
        padding: 1% 1%;
    }
}

@media(max-width:543px)   /* sm    parte 3*/
{
    .lineahazteVoluntarioFechaMes {
        padding: 1.2% 1%;
    }

    .lineahazteVoluntarioFecha {
        padding: 1.2% 1%;
    }
}




.lineahazteVoluntarioDirecion
{
    border: 1px solid #1CA421;
    border-radius:5%;
}


@media(min-width:768px)   /* md */
{
    .lineahazteVoluntarioDirecion
    {
        padding: 1.5% 29%;
    }
}

@media(max-width:768px)   /* sm */
{
    .lineahazteVoluntarioDirecion
    {
        padding: 1% 8%;
    }
}

@media(max-width:543px)   /* sm */
{
    .lineahazteVoluntarioDirecion
    {
        padding: 1% 14%;
    }
}














.lineahazteVoluntarioDirec1
{
    border: 1px solid #1CA421;
    border-radius:5%;
}
.lineahazteVoluntarioDirec2
{
    border: 1px solid #1CA421;
    border-radius:5%;
}
.lineahazteVoluntarioDirec3
{
    border: 1px solid #1CA421;
    border-radius:5%;
}
.lineahazteVoluntarioDirec4
{
    border: 1px solid #1CA421;
    border-radius:5%;
}


@media(min-width:768px)   /* md  parte 1*/
{
    .lineahazteVoluntarioDirec1
    {
        width:55px;
        height:60%;
    }
    .lineahazteVoluntarioDirec2
    {
        width:55px;
        height:60%;
    }
    .lineahazteVoluntarioDirec3
    {
        width:55px;
        height:60%;
    }
    .lineahazteVoluntarioDirec4
    {
        width:55px;
        height:60%;
    }
}

@media(max-width:767px)   /* sm  parte 2*/
{
    .lineahazteVoluntarioDirec1
    {
        width:43%;
        height:64%;
    }
    .lineahazteVoluntarioDirec2
    {
        width:43%;
        height:64%;
    }
    .lineahazteVoluntarioDirec3
    {
        width:43%;
        height:64%;
    }
    .lineahazteVoluntarioDirec4
    {
        width:43%;
        height:64%;
    }
}

@media(max-width:543px)   /* sm    parte 3*/
{
    .lineahazteVoluntarioDirec1
    {
        width:42%;
        height:65%;
    }
    .lineahazteVoluntarioDirec2
    {
        width:42%;
        height:65%;
        margin-bottom: 10px;
    }
    .lineahazteVoluntarioDirec3
    {
        width:42%;
        height:65%;
        margin-bottom: 10px;
    }
    .lineahazteVoluntarioDirec4
    {
        width:42%;
        height:65%;
        margin-bottom: 10px;
    }
}


@media(max-width:544px)   /* col    parte 4*/
{
    .lineahazteVoluntarioDirec1
    {
        width:42px;
        height:30px;
    }
    .lineahazteVoluntarioDirec2
    {
        width:42px;
        height:30px;
        margin-bottom: 10px;
    }
    .lineahazteVoluntarioDirec3
    {
        width:42px;
        height:30px;
        margin-bottom: 10px;
    }
    .lineahazteVoluntarioDirec4
    {
        width:42px;
        height:30px;
        margin-bottom: 10px;
    }
}












.lineahazteVoluntarioZona
{
    border: 1px solid #1CA421;
    border-radius:5%;
}



@media(min-width:768px)   /* md */
{
    .lineahazteVoluntarioZona
    {
        padding: 2.2% 4%;
    }
}

@media(max-width:768px)   /* sm */
{
    .lineahazteVoluntarioZona
    {
        padding: 1% 4%;
    }
}










.lineahazteVoluntarioCorreo
{
    border: 1px solid #1CA421;
    border-radius:5%;
}

.lineahazteVoluntarioTelef
{
    border: 1px solid #1CA421;
    border-radius:5%;
}

.lineahazteVoluntarioTelef2
{
    border: 1px solid #1CA421;
    border-radius:5%;
}



@media(min-width:768px)   /* md */
{
    .lineahazteVoluntarioCorreo
    {
        padding:4% 16%;
    }

    .lineahazteVoluntarioTelef
    {
        padding:4% 15%;
    }

    .lineahazteVoluntarioTelef2
    {
        padding:4% 15%;
    }
}

@media(max-width:768px)   /* sm */
{
    .lineahazteVoluntarioCorreo
    {
        padding:1% 8%;
    }

    .lineahazteVoluntarioTelef
    {
        padding:1% 8%;
    }

    .lineahazteVoluntarioTelef2
    {
        padding:1% 8%;
    }
}

















@media(max-width:768px)   /* sm */
{
    .lineahazteVoluntario
    {
        border: 1px solid #1CA421;
        border-radius:5%;
        padding:1% 8%;
    }
}

.lineaH
{
    border-color: #b5e8bf;
}

.textFormularioVoluntario
{
    font-size: 120%;
}

.boton1
{
    color:white;
    border-color:#1CA421;
}

.boton1:hover
{
    background-color:#1CA421;
    border-color:#1CA421;
    color: black;
}


/*  --------------------- SOCIOS -------------------------------------------*/

.colorLineaCaja
{
    border: 1px solid #1CA421;
    border-radius:5%;
}

.cajaApellidosSocio
{
    padding: 2% 25%;
}

.lineaDiaSocio
{
    padding: 2% 5%;
}

.lineaMesSocio
{
    padding: 2% 4%;
}


.lineaAportarSocio
{
    padding: 2% 7%;
}

.lineahazteVoluntarioPoblacionSocio
{
    padding: 3% 35%;
}
.lineahazteVoluntarioViviendaSocio
{
    padding: 3% 20%;
}

.lineahazteVoluntarioMailSocio
{
    padding: 3% 35%;
}

.lineaBancoSocioIcono
{
    padding: 3% 14%;
}
.lineaBancoSocio
{
    padding: 3% 14%;
}

.lineaBancoSocioDC
{
    padding: 6.8% 5%;
}

.lineaBancoSocioCuenta
{
    padding: 2.8% 20%;
}

.centrarTextoDC
{
    border: 1px solid red;
}

.distanciaFooter
{
    margin-bottom: 10%;
}