.fondoGato
{
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
}
.lineaH { border-color: #b5e8bf;}
.asterisco { color: #dc3545;}
.sinMargin { margin-bottom: 0px;}
.fondoGato::after
{
    content: "";
    background: url(gatosadopcion/02.jpg);
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    border: #dc3545;
    background-attachment: fixed;
}

h1
{
    margin-top: 1%;
    font-family: 'Bree Serif', serif;
    font-size: 360%;
    color: #1CA421;
}
.imagenlogo { width: 100%; }
.sinPadding {padding-left: 0px; padding-right: 0px;}
.botonMenu   /* NO BORRAR VALE!!!!!!!  */{background-color: #1CA421; border-color: #1CA421;}
.textMenuPrinci  /*texto menu*/  /* NO BORRAR VALE!!!!!!!  */{color: white;display: ruby;}
.textMenuPrinci:hover {color: black;text-decoration: none;}
.accesoVoluntarios {background-color: #1CA421;}
.textoAcceso
{
    color: white;
    font-family: 'Bree Serif', serif;
    font-size: 130%;
}
.textoAcceso:hover {color: black; text-decoration: none;}
.menuPrincipal {background-color: #1CA421;}
.texto {
    padding: 1% 13%;
    color: white;
    font-family: 'Bree Serif', serif;
    font-size: 100%;
}
.boton {background-color: #1CA421; border-color: #1CA421;}
.boton1 {background-color: #1CA421; border-color: #1CA421;}
.anchoVisto  /*visto contraseñas*/{width: 5px;}

/*  ---------------------Pagina principal -------------------------------------------*/

.indexHazteVoluntario
{
    font-weight: bold;
    font-size: 150%;
    font-family: 'Bree Serif', serif;
    letter-spacing: 4px;
    color: #1CA421;
}

.indexHazteVoluntario1
{
    font-weight: bold;
    font-size: 200%;
    font-family: 'Bree Serif', serif;
    letter-spacing: 4px;
    color: #1CA421;
}
.indexHazteVoluntarioParraf { letter-spacing: 1px; }
.fotoIndex1,.fotoIndex2 { width: 50%; }
.card { border-color: white; }

.botonCardsGatos
{
    color: white;
    background-color:#1CA421;
    border-color:#1CA421;
}

@media(max-width:576px)   /* xs */
{
    .titInicio /* inicio*/{font-size: 10px;}
    .indexHazteVoluntario /* hazte voluntario*/{font-size: 20px;}
    .indexHazteVoluntarioParraf {font-size: 12px;}
    .boton1 { font-size: 12px; }
    .cajaGatosIndex { margin-top: 10%; }
    .card-text { font-size: 12px; }
    .fondoGato
    {
        height: 100%;
        display: block;
        position: relative;
    }

    .fondoGato::after
    {
        content: "";
        background: url(gatosadopcion/fondoMoviles.jpg);
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: cover;
        border: #dc3545;
    }
}

@media(max-width:767px)   /*sm*/
{
    .titInicio /* inicio*/{font-size: 13px;}
    .indexHazteVoluntario /* hazte voluntario*/{font-size: 20px;}
    .indexHazteVoluntarioParraf {font-size: 12px;}
    .alturaTextoIndice   /* texto parrafos */{font-size: 130%;}
    .boton1 {font-size: 13px;}
    .fotoIndex1,.fotoIndex2 { width: 40%; }
    .cajaGatosIndex {margin-top: 8%;}
    .card-text {font-size: 12px;}

    .fondoGato {
        height: 100%;
        display: block;
        position: relative;
    }

    .fondoGato::after {
        content: "";
        background: url(gatosadopcion/fondoMoviles.jpg);
        opacity: 0.4;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: cover;
        border: #dc3545;
    }
}


/*------------------------- Hazte Socio / Ayudanos ------------------------------------*/

.fondoGatoSocio
{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.fondoGatoSocio::after
{
    content: "";
    background: url(gatosadopcion/03.jpg);
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    border: #dc3545;
}
.lineahazteVoluntario  /*nombre*/{ border: 1px solid #1CA421; border-radius:5%;}
.lineahazteVoluntarioApellidos {border: 1px solid #1CA421; border-radius:5%;}
.lineahazteVoluntarioFecha {border: 1px solid #1CA421; border-radius:5%;}
.lineahazteVoluntarioDirecion {border: 1px solid #1CA421; border-radius:5%;}
.lineahazteVoluntarioDirec1, .lineahazteVoluntarioDirec2, .lineahazteVoluntarioDirec3, .lineahazteVoluntarioDirec4
{border: 1px solid #1CA421;border-radius: 5%;}
.colorLineaCaja {border: 1px solid #1CA421;border-radius:5%;}
.passwordSocio2 {border: 1px solid #1CA421; border-radius:5%;}

@media (max-width: 576px)
{
    .lineahazteVoluntarioNombre, .lineahazteVoluntarioApellidos, .lineahazteVoluntarioDNI{padding: 2% 0;}
    .lineahazteVoluntarioNombre, .lineahazteVoluntarioApellidos, .lineahazteVoluntarioDNI{width: 80%;}
    .anchoFecha{width: 80%;}
    .lineahazteVoluntarioZona{padding: 2% 0%;}
    .lineahazteVoluntarioZona{width: 78%;}
    .lineahazteVoluntarioDirecion { padding: 1% 11%;}
    .lineahazteVoluntarioDirecion{width: 80%;}
    .alinearCajasDireccionSocio { display: inline-flex;}
    .lineahazteVoluntarioDirec1, .lineahazteVoluntarioDirec2, .lineahazteVoluntarioDirec3, .lineahazteVoluntarioDirec4
    { padding: 2% 0%; width: 50px;}
    .anchoCajas{ width: 230px;}
    .lineaPoblacionSocio, .lineahazteSocioCP, .lineahazteVoluntarioProvincia { padding: 2% 0%;}
    .lineaPoblacionSocio, .lineahazteSocioCP, .lineahazteVoluntarioProvincia{width: 80%;}
    .mailSocio, .telf1Socio, .telf2Socio, .passwordSocio1, .passwordSocio2 {padding: 2% 0%;}
    .mailSocio, .telf1Socio, .telf2Socio, .passwordSocio1, .passwordSocio2{width: 80%;}
    .anchoCantidad {padding: 2% 0%;}
    .anchoCantidad{ width: 160px;}
    .lineaAportarSocio { padding: 4% 0%;}
    .lineaAportarSocio{width: 200%;}
    .lineahazteSocioCuenta{ padding: 1% 11%; }
}


@media (min-width: 577px)
{
    .lineahazteVoluntarioNombre, .lineahazteVoluntarioApellidos, .lineahazteVoluntarioDNI { padding: 1.5% 0%;}
    .lineahazteVoluntarioNombre, .lineahazteVoluntarioApellidos, .lineahazteVoluntarioDNI{width: 60%;}
    .anchoFecha{width: 62%;}
    .lineahazteVoluntarioZona{padding: 1.5% 0%;}
    .lineahazteVoluntarioZona{width: 60%;}
    .lineahazteVoluntarioDirecion { padding: 1.5% 0%; }
    .lineahazteVoluntarioDirecion{width: 60%;}
    .lineahazteVoluntarioDirec1, .lineahazteVoluntarioDirec2, .lineahazteVoluntarioDirec3, .lineahazteVoluntarioDirec4
    { padding: 4% 0%; width: 65px;}
    .anchoCajas {width: 330px;}
    .lineaPoblacionSocio, .lineahazteSocioCP, .lineahazteVoluntarioProvincia { padding: 1.5% 0%;}
    .lineaPoblacionSocio, .lineahazteSocioCP, .lineahazteVoluntarioProvincia{width: 60%;}
    .mailSocio, .telf1Socio, .telf2Socio, .passwordSocio1, .passwordSocio2 {padding: 1.5% 0%;}
    .mailSocio, .telf1Socio, .telf2Socio, .passwordSocio1, .passwordSocio2{width: 60%;}
    .anchoCantidad {padding: 1.5% 0%;}
    .anchoCantidad{ width: 500px;}
    .lineaAportarSocio { padding: 8% 0%;}
    .lineaAportarSocio{width: 60%;}
    .lineahazteSocioCuenta{ padding: 1% 11%; }
    .anchoCantidad {display: inline-flex;}
    .lineaAportarSocio { padding: 1.5% 0%;}
    .lineahazteSocioCuenta{ padding: 1% 11%; }
}

@media (min-width: 768px)
{
    .lineahazteVoluntarioNombre, .lineahazteVoluntarioApellidos, .lineahazteVoluntarioDNI { padding: 2% 0%;}
    .lineahazteVoluntarioNombre, .lineahazteVoluntarioApellidos, .lineahazteVoluntarioDNI{width: 100%;}
    .anchoFecha{width: 100%;}
    .lineahazteVoluntarioZona{padding: 2% 0%;}
    .lineahazteVoluntarioZona{width: 100%;}
    .lineahazteVoluntarioDirecion { padding: 2% 0%; }
    .lineahazteVoluntarioDirecion{width: 100%;}
    .lineahazteVoluntarioDirec1, .lineahazteVoluntarioDirec2, .lineahazteVoluntarioDirec3, .lineahazteVoluntarioDirec4
    { padding: 2% 0%; width: 50px;}
    .anchoCajas {width: 330px;}
    .lineaPoblacionSocio, .lineahazteSocioCP, .lineahazteVoluntarioProvincia { padding: 2% 0%;}
    .lineaPoblacionSocio, .lineahazteSocioCP, .lineahazteVoluntarioProvincia{width: 100%;}
    .mailSocio, .telf1Socio, .telf2Socio, .passwordSocio1, .passwordSocio2 {padding: 2% 0%;}
    .mailSocio, .telf1Socio, .telf2Socio, .passwordSocio1, .passwordSocio2{width: 100%;}
    .anchoCantidad {padding: 2% 0%;}
    .anchoCantidad{ width: 900px;}
    .lineaAportarSocio { padding: 2% 0%;}
    .lineaAportarSocio{width: 70%;}
    .textoBanco {font-size: 90%;}

    /*esto pertenece a entidad banco..etc*/
    .lineahazteVoluntarioDirec1, .lineahazteVoluntarioDirec2, .lineahazteVoluntarioDirec3, .lineahazteVoluntarioDirec4 {
        border: 1px solid #1CA421;
        border-radius: 5%;
        width: 60px;
        height: 70%;
    }
    .passwordSocio1 { padding: 2% 15%;}
    .passwordSocio2 { padding: 2% 15%;}
    .lineahazteSocioCuenta{ padding: 3% 12%; }
    .vistoPassword {margin-top: 6%;}
}

@media (min-width: 992px)
{
    .lineahazteVoluntarioNombre, .lineahazteVoluntarioApellidos, .lineahazteVoluntarioDNI { padding: 2% 0%;}
    .lineahazteVoluntarioNombre, .lineahazteVoluntarioApellidos, .lineahazteVoluntarioDNI{width: 100%;}
    .anchoFecha{width: 100%;}
    .lineahazteVoluntarioZona{padding: 2% 0%;}
    .lineahazteVoluntarioZona{width: 100%;}
    .lineahazteVoluntarioDirecion { padding: 2% 0%; }
    .lineahazteVoluntarioDirecion{width: 100%;}
    .lineahazteVoluntarioDirec1, .lineahazteVoluntarioDirec2, .lineahazteVoluntarioDirec3, .lineahazteVoluntarioDirec4
    { padding: 2% 0%; width: 50px; }
    .anchoCajas {width: 330px;}
    .lineahazteSocioCP, .lineahazteVoluntarioProvincia { padding: 2% 0%;}
    .lineahazteSocioCP, .lineahazteVoluntarioProvincia{width: 100%;}
    .mailSocio, .telf1Socio, .telf2Socio, .passwordSocio1, .passwordSocio2 {padding: 2% 0%;}
    .mailSocio, .telf1Socio, .telf2Socio, .passwordSocio1, .passwordSocio2{width: 100%;}
}



@media (min-width: 1200px)
{
    .lineahazteVoluntarioNombre, .lineahazteVoluntarioApellidos, .lineahazteVoluntarioDNI { padding: 2% 0%;}
    .lineahazteVoluntarioNombre, .lineahazteVoluntarioApellidos, .lineahazteVoluntarioDNI{width: 100%;}
    .anchoFecha{width: 100%;}
    .lineahazteVoluntarioZona{padding: 2% 0%;}
    .lineahazteVoluntarioZona{width: 100%;}
    .lineahazteVoluntarioDirecion { padding: 2% 0%; }
    .lineahazteVoluntarioDirecion{width: 100%;}
    .lineahazteVoluntarioDirec1, .lineahazteVoluntarioDirec2, .lineahazteVoluntarioDirec3, .lineahazteVoluntarioDirec4
    { padding: 2% 0%; width: 50px; }
    .anchoCajas {width: 330px;}
    .lineahazteSocioCP, .lineahazteVoluntarioProvincia { padding: 2% 0%;}
    .lineahazteSocioCP, .lineahazteVoluntarioProvincia{width: 100%;}
    .mailSocio, .telf1Socio, .telf2Socio, .passwordSocio1, .passwordSocio2 {padding: 2% 0%;}
    .mailSocio, .telf1Socio, .telf2Socio, .passwordSocio1, .passwordSocio2{width: 100%;}
}



/*---------------------------- ACABA SOCIO  ------------------------------------------------------------------------*/


/*---------------------------- EMPIEZA VOLUNTARIO  ------------------------------------------------------------------------*/

.lineahazteVoluntarioZona {border: 1px solid #1CA421; border-radius: 5%;}


/*---------------------------- EMPIEZA HOJASOCIO  ------------------------------------------------------------------------*/

.navbar{padding-bottom: 0px;}

.etiquetas   /*label*/{font-size: 18px;}

.cajaResultadoSocio
{
    width: 180px;
    height: 30px;
    text-align: center;
    font-weight: bold;
}

.centrarTextoCajas {display: inline; text-align: center;}

.sinBorde { border: 0;}

.sinMargenes{margin-left: 0px; margin-right: 0px;}

.navbar{margin-bottom: 0px;}

.cajaFechaSocio
{
    width: 100px;
    height: 30px;
    text-align: center;
    font-weight: bold;
}

.textoFecha {font-size: 16px;}

.cajaNombreCalleSocio
{
    width: 300px;
    height: 30px;
    text-align: center;
    font-weight: bold;
}

.cajaNumeroSocio, .cajaPortalSocio, .cajaPisoSocio, .cajaLetraSocio
{
    width: 100px;
    height: 30px;
    text-align: center;
    font-weight: bold;
}

.cajaDatoIbanSocio
{
    width: 90px;
    height: 30px;
    text-align: center;
    font-weight: bold;
}

.cajaDatoBancoSocio, .cajaDatoOficinaSocio
{
    width: 100px;
    height: 30px;
    text-align: center;
    font-weight: bold;
}

.cajaDatoDCSocio
{
    width: 50px;
    height: 30px;
    text-align: center;
    font-weight: bold;
}

.cajaDatoCuentaSocio
{
    width: 120px;
    height: 30px;
    text-align: center;
    font-weight: bold;
}

.sinMargin { margin-bottom: 0px;}

.botonSocEdit, .botonSocElim { background-color: #1CA421; border: 1px solid #1CA421;}

@media (max-width: 576px)
{
    .centrarTexto {text-align: center; display: contents;}

    .centrarTextoDireccion {text-align: center; display: contents;}

    .centrarTextoBanco {text-align: center;display: contents;}
}

@media (min-width: 576px)
{
    .centrarTexto {display: contents; text-align: center;}

    .centrarTextoDireccion {text-align: center; display: contents;}

    .centrarTextoBanco {text-align: center; display: contents;}
}

@media (min-width: 768px)
{
    .alinearFecha {display: inline-flex;}

    .alinearDireccion{display: inline-flex;}

    .etiquetas   /*label*/
    {
        font-size: 18px;
        margin-right: 5px;
    }

    .centrarVivienda { display: inline-flex;}

    .centrarTextoBanco
    {
        text-align: center;
        display: flex;
    }

    .anchoReside{padding: 2% 5%; width: 10px;}

    .centerText { text-align: center;}
}

/*---------------------------- EMPIEZA DARSE BAJA SOCIOS  ------------------------------------------------------------------------*/

.imagenFondoBajaSocios
{
    height: 100%;
    display: block;
    position: relative;
}

.imagenFondoBajaSocios::after
{
    content: "";
    background: url(gatosadopcion/bajaSocios.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}


/*--------------------------------  FONDOS ZONAADMINISTRADOR------------------------------------------*/
.fondoGato
{
    height: 120%;
    display: block;
}

.fondoGato::after
{
    content: "";
    background: url(gatosadopcion/bajaSocios.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}

/*-----------------------------------------------------------------------------------------------------------------*/
    .icon {display: inline-block;}

    /*------------------------------------------------ index ------------------------------------------------------*/
    .cajaKar {width: 80%;}

    /*  --------------------- Footer -------------------------------------------*/
    .textFooter {
        letter-spacing: 1px;
        color: white;
        font-weight: bold
    }

    .iconos {color: white;}

    a:hover {
        text-decoration: none;
        color: black;
    }

    .alturaIcono {font-size: 125%;}

    .bordeIcono {width: 7%;}

    /*  --------------------- accesoVoluntario -------------------------------------------*/


    /*  --------------------- index -------------------------------------------*/
    .fotoGato {
        width: 100%;
    }

    .textoDentroFoto {
        font-family: 'Bree Serif', serif;
        letter-spacing: 2px;
        font-size: 200%;
    }

    .subtitulo {
        font-weight: bold;
        font-size: 250%;
        font-family: 'Bree Serif', serif;
        letter-spacing: 2px;
        color: #667c72;
    }

    .subtitle {
        font-weight: bold;
        font-size: 150%;
        font-family: 'Bree Serif', serif;
        color: #1CA421;
    }

/*-------------------------------- MOSTRARGATOSENADOPCION ---------------------------------*/

.caja {border: 1px solid red;}

/*---------------------------------------ADMINISTRADOR VER SOCIOS ------------------------------------------*/
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {background-color: #1CA421;}


 /*------------------------------------------  media query cabecera----------------------------------------*/

@media (max-width: 575px)   /* xs */
{
    .imagenlogoAyunt /*img ayuntamiento*/{width: 10%;}

    .imagenlogoCeu /*img CEU*/{width: 10%;}

    .textoPlan /*texto plan esterilizacion*/{font-size: 60%;}

    .texto
    {
        margin: 1px; /*texto menu*/
        width: 100px;
    }

    .posLogo2 /*logo ceu*/{order: 3;}

    .textoPlan /*texto plan esterilizacion*/{order: 1;}

    .posLogo1 /*img ayuntamiento*/{order: 2;}

    .botonMenu {background-color: #1CA421;}

    .textMenuPrinci /*texto menu*/{font-size: 3px;}

    .accesoVoluntarios /*texto botón acceso usuarios*/{font-size: 15px;}
}

@media (min-width: 576px)   /*sm*/
{

    .textoPlan {font-size: 90%; /*titulo plan esterilizacion felina*/}

    .imagenlogoAyunt /*img ayuntamiento*/{ width: 5%;}

    .imagenlogoCeu /*img CEU*/{ width: 5%;}

    .textoPlan /*texto plan esterilizacion*/{ order: 1;}

    .posLogo1 /* caja img ayuntamiento*/{order: 2;}

    .botonMenu {width: 11%;}

    .accesoVoluntarios {font-size: 13px;}

    .textMenuPrinci /*texto menu*/{font-size: 20px;}
}


@media(min-width:768px)   /*md*/
{
    .iconoPuerta { padding-left: 10px; }

    .textoPlan {font-size: 90%; /*titulo plan esterilizacion felina*/}

    .imagenlogoAyunt /*img ayuntamiento*/{width: 200%;}

    .imagenlogoCeu /*img CEU*/{width: 200%;}

    .accesoVoluntarios {font-size: 13px;}

    .textMenuPrinci /*texto menu*/{font-size: 20px;}

    .texto { margin: 2px 0px; /*texto menu*/ }

    .alturaTextoIndice{font-size: 110%;}
}

@media(min-width:1400px)   /*md*/
{
    .textoPlan {font-size: 120%; /*titulo plan esterilizacion felina*/}

    .imagenlogoAyunt /*img ayuntamiento*/{width: 120%;}

    .imagenlogoCeu /*img CEU*/{width: 120%;}
}

